*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body{
    /* overflow: hidden; */
}
header{
    width: 100%;
    height: 6.25rem;
    background-color: #fff;
    box-shadow: 0 86px 34px rgba(0,0,0,.01),0 48px 29px rgba(0,0,0,.03),0 5px 12px rgba(0,0,0,.05),0 0 0 rgba(0,0,0,.05);
    /* position: sticky; */
    position: fixed;
}

nav img{
    position: absolute;
    width: 80px;
    height: 48px;
    left: 83px;
    top: 25px;
}

nav{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.account{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 6px;
    padding: 6px 10px;
    border-radius: 8px;
    transition: 300ms;
    position: relative;
    top: 30px;
    right: -39%;
    color: #1d1d1d;
}
.account span{
    font-size: 27px;
    font-weight: 270;
}
/* account hover */
.account:hover{
   background-color: rgb(247, 247, 247);
}

/* Dropdown menu styles */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -2%;
    background-color: #f8f7f7;
    width: 180px;
    height: 270px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    line-height: 30px;
    font-weight: 0;
    cursor: pointer;
    transition: 200ms;
    /* Opacity can be hide only form user not from mouse but 'Visibility' can be hide form both user or mouse.*/

    /* opacity: 0;  */
    display: none;
    /* visibility: hidden; */
}

.account:hover .dropdown-menu {
    display: block; 
    /* visibility: visible; */
}

/* hover effecto on li */
.dropdown-menu li {
    padding: 7px 10px;
}

.dropdown-menu li:hover {
    background-color: #fffdfd;
}

/* Hover effect for non-excluded list items */
.dropdown-menu li:not(:nth-last-child(2)):hover {
    background-color: #ccc; 
}

/* MAIN SECTION */
.topBanner{
    width: 1366px;
    height: 520px;
}
.topBanner img{
    width: 1366px;
    height: 520px;
    margin-top: 100px;
}
main{
    height: auto;
}



