*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
html{font-size: 62.5%;}
body{margin: 1rem 22rem;}
main{
    width: 90rem;
    height: 50rem;
    background-color: #eeeeee;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10rem 20rem 20rem 10rem;
    gap: 2rem;
    justify-self: center;
}
nav{
    background: #d3c6b8;
    grid-area: 1/1/2/-1;
  }
  
  aside {
    background: #b09c98;
    grid-area: 2/1/4/1;
    /* grid-area: 2/1/span 2/1; It's alos same as above */
  }
  
  .box1 {
    background: #d3c6b8;
  }
  
  .box2 {
    background: #d3c6b8;
  }
  
  .box3 {
    background: #d3c6b8;
  }
  
  .main-cont{
    background: #b09c98;
    grid-area: 3/2/3/5;
  }
 
  
  footer{
    background: #d3c6b8;
    grid-area: 4/1/4/5;
  }